{% extends 'racedetail/base.html' %}

{% block content %}
    <div class="post">
        {% if race.raceDate %}
            <div class="date">
                {{ race.raceDate }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'race_edit' pk=race.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ race.raceName }}</h1>
        <p>{{ race.results }}</p>
        <p>{{ race.meta|linebreaks }}</p>
        <p> "This is the end of the races"</p>
    </div>
{% endblock %}
<!-- This is a comment in HTML --> 
<!-- {% load url from future %} -->