<!-- This is a comment in HTML --> 

{% extends 'racedetail/base.html' %}

{% block content %}
    {% for raceDetail in races %}
        <div class="racedetail">
            <div class="date">
                {{ racedetail.racedate }}
            </div>
            <p>{{ raceDetail.state|linebreaks }}</p>
            <h1><a href="">{{ raceDetail.raceName }}</a></h1>
            <p>{{ raceDetail.meta|linebreaks }}</p>
            <p> <b>Date: </b>{{ raceDetail.raceDate }}</p>
            <p> <b>My results:</b> {{ raceDetail.results }}</p>
            <p>{{ raceDetail.link|linebreaks }}</p>
            <hr>
        </div>
    {% endfor %}
{% endblock content %}